# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
.docker-data/
.docker/

# Logs
*.log
logs/

# Data
data/
*.db
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db